.cat {
	margin-top: $margin-top + 10;
	p {
		color: white;
	}
}

.cat-button {
	line-height: 1.4;
	margin-bottom: 20px!important;
}

.cat-gifs {
	@include flex();
	flex-wrap: wrap;
}
.cat-gif {
	margin: 10px;
	@include flex();
	background: black;
	@include square(200px);
}

.cat-post {
	color: white;
	img {
		width: 300px;
		height: 225px;
	}
}
.cat-modal {
	width: 75%;
	height: inherit;
}

.cat-modal-button {
	@include modal-button(10px, white, black);
	
}


@media (min-width: 768px) {

.cat-post {
	img {
		width: 400px;
		height: 300px;
	}
}
	.cat-modal {
		width: inherit;
		height: 75%;
	}
}
