@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$font-family: 'Press Start 2P', cursive!important;

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #525252;
	padding: 5px;
	button {
		font-family: $font-family;
		text-align: center;
		font-size: 8px;
		padding: 5px;
		margin: 5px;
		@include square(45px);
		background-color: red;
		border-radius: 100%;
		cursor: pointer;
		outline: none;
		box-shadow: 0 10px darken(red, 20%);
		&:hover {
			background-color: darken(red, 30%);
		}
		&:disabled {
			background-color: gray;
			cursor: inherit; 
		}
		&:active {
			background-color: darken(red, 30%);
			box-shadow: 0 5px darken(red, 40%);
			transform: translateY(4px);
		}
	}
	img {
		@include square(30px);
	}
}

.flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
	h3 {
		font-family: $font-family;
		color: yellow;
		font-size: 1.15em;
	}
}

.game {
	@include center();
	margin-top: $margin-top + 10px;
	.columns {
		background: black;
		border: 15px groove #FCD526;
	}
	h1 {
		background: $background-color;
		font-family: $font-family;
		font-size: 1.6em;
		padding: 5px;
	}
}

.result {
	height: 200px;
	h4 {
		color: yellow;
		font-family: $font-family;
		text-align: center;
		font-size: 1em;
	}
	img {
		@include square(60px);
		position: absolute;
		opacity: 1;
		left: 25%;
		right: 25%;
	}
}
.reset {
	color: white;
}
.begin {
	height: 200px;
	@include flex();
	h2 {
		font-family: $font-family;
		color: yellow;
		text-align: center;
		width: 50%;
		animation: begin 1s infinite alternate;
		font-size: 1.5em;
	}	
}


.score {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	div {
		@include center();
	}
	h3 {
		color: yellow;
		font-family: $font-family;
		text-align: center;
	}
}

.playerResult {
	@include rectangle(150px, 100px);
	position: relative;
	&:first-child {
		img {
			transform: rotateY(180deg);
		}
	}
}

.player-draw {
	animation: playerDraw 1.5s;
}

.computer-draw {
	animation: computerDraw 1.5s;
}

.player-pick {
	animation: playerPick 1s;
}

.computer-pick {
	animation: computerPick 1s;
}
.loss {
	animation-name: playerLoss;
	animation-delay: 0.5s;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
}


/* Keyframes
-------------------*/
@keyframes begin {
	0% {color: yellow;}
	100% {color: white;}
}


@keyframes playerPick {
	0% {
		margin-left: 0;
		z-index: 1;
	}
	100% {
		margin-left: 175px;
		z-index: 100;
	}
}

@keyframes playerLoss {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes playerDraw {
	0% {margin-left: 0;}
	50% {margin-left: 75px;}
	100% {margin-left: 0;}
}

@keyframes computerDraw {
	0% {margin-left: 0;}
	50% {margin-left: -75px;}
	100% {margin-left: 0;}
}

@keyframes computerPick {
	0% {
		margin-left: 0;
		z-index: 1;
	}
	100% {
		margin-left: -175px;
		z-index: 100;
	}
}


@media (min-width: 769px) {
	.playerResult {
		@include rectangle(200px, 160px);
	}
	.begin {
		height: 250px;
	}
	.result {
		height: 250px;
		img {
			@include square(80px);
		}
	}
	.game {
		width: 100%;
		.columns {
			border: 20px groove #FCD526;
		}
	}
	.buttons {
		padding: 10px;
		button {
			@include square(75px);
			font-family: $font-family;
			font-size: 12px;
		}
		img {
		@include square(50px);
	}
}
	
	@keyframes playerDraw {
		50% {margin-left: 125px;}
	}
	@keyframes computerDraw {
		50% {margin-left: -125px;}
	}
	@keyframes playerPick {
		100% {margin-left: 250px;}
	}
	@keyframes computerPick {
		100% {margin-left: -250px;}
	}	
}

