.graffiti {
	margin-top: $margin-top;
	color: white;
	h1 {
		text-align: center;
		width: 100%;
	}
}

.rabin {
	position: relative;
	height: 300px;
	width: 421px;
	@include flex();
	margin: 0 auto;

}

.rabin img {
	position: absolute;
}

.hoverOver {
	animation-name: disappear;
	animation-duration: 3s;	
	animation-fill-mode: forwards;
}


#rabin2 {
	top: -5px;
}

@keyframes disappear {
	0%   {opacity: 1}
	100% {opacity: 0}
}


.thanks {
	display: flex;
	position: relative;
	height: 198px;
}

.thanks-cover {
	position: absolute;
	z-index: 1000;
	background: #e98494;
	width: 400px;
	height: 90px;
}
.thanks-cover:nth-child(1) {
	top: 0
}
.thanks-cover:nth-child(2) {
	bottom: 0;
}
#thanks-image {
	position: absolute;
	z-index: 999;
	right: 0;
}

.club {
	position: relative;
	@include flex();
	margin: 0 auto;
	width: 600px;
	height: 268px;
}
.club-image {
	position: absolute;
}
.club-cover {
	position: absolute;
	background: transparent;
	height: 268px;
	&:focus {
		outline: none;
	}
}

.cover-one {
	width: 100px;
	left: 0px;
}

.cover-two {
	width: 75px;
	left: 100px;
}

.cover-three {
	width: 60px;
	left: 175px;
}

.cover-four {
	width: 66px;
	left: 235px;
}
.cover-five {
	width: 66px;
	left: 300px;
}
.cover-six {
	width: 55px;
	left: 366px;
}
.cover-seven {
	width: 70px;
	left: 420px;
}
.cover-eight {
	width: 111px;
	left: 489px;
}

.ReactModal__Overlay, .ReactModal__Overlay--after-open {
	background: transparent!important;
}
