header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
	img {
		height: 33px;
		margin: 0;
	}
}

.top-bar {
	background-color: $background-color;
	h4 {
		font-family: 'Heebo', sans-serif;
		color: white;
		text-shadow: 2px 2px 4px black;
	}
}

@media (min-width: 550px) {
	.top-bar {
		h4 {
			font-size: 1.0em;
		}
	}
	header {
		img {
			height: 38px;
		}
	}

}
