header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
	img {
		height: 33px;
		margin: 0;
	}
}
.top-bar-left {
	display: flex;
	a {
		margin-left: 5px;
		color: white;
		font-size: 1em;
	}
}

.top-bar {
	background-color: $background-color;
	h4 {
		font-family: 'Heebo', sans-serif;
		color: white;
		text-shadow: 2px 2px 4px black;
		font-size: 1em;
	}
}

@media (min-width: 550px) {
	.top-bar {
		h4 {
			font-size: 1.25em;
		}
	}
	.top-bar-left {
		a {
			font-size: 1.25em;
		}
	}
}

@media (min-width: 769px) {
	.top-bar {
		h4 {
			font-size: 1.8em;
		}
	}
	.top-bar-left {
		a {
			margin-left: 30px;
			font-size: 1.8em;
		}
	}	
}
