@import url("https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.2/css/foundation.css");
@import url('https://fonts.googleapis.com/css?family=Heebo');


.debug {
	border: 2px solid red;
}

$background-color: #0038B8;

$margin-top: 64px;

@mixin item() {
	list-style: none;
	text-shadow: none;
	background: white;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	button {
		align-self: center;
		margin-right: 20px;
	}
	p {
		margin: 0;
		align-self: center;
	}
}

@mixin flex() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin center() {
	display: block;
	margin: 0 auto;
}
