@import url('https://fonts.googleapis.com/css?family=Monoton');

$border-color: 40px solid rgb(196, 196, 0);
$iframe-width: 355px;
$iframe-height: 200px;
$leg-color: rgb(50, 50, 50);


.jukebox {
	@include center();
	margin-top: $margin-top + 20;
	@include rectangle(350px, 460px);
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
	background: yellow;
	background-image: linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet);
	animation-name: side-gradient;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.jukebox-title {
	@include flex();
	h1 {
		@include flex();
		@include rectangle(300px, 150px);
		margin-top: 20px;
		font-size: 2em;
		font-family: 'Monoton', cursive!important;
		background: rgb(160, 97, 38);
		border-top-left-radius: 150px;
		border-top-right-radius: 150px;
		border-bottom: $border-color;
		border-style: groove;
		margin-bottom: -10px;

	}
}

.jukebox-flex {
	@include flex();
	flex-wrap: wrap;
	margin-top: 10px;
}

.jukebox-button {
	padding: 4px;
	background: rgb(160, 97, 38);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99999;
}


.flipper {
    perspective: 1200px;
    transform: translate3d(0, 0, 0);
    overflow: visible;
    margin-bottom: 10px; 
}

.flipper.flipped .card {
    transform: rotateY(-180deg);
}
.flipper.flipped .card > .back {
	backface-visibility: visible;
	@include absolute();
	animation-name: wait-for-back;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	margin-top: 25px;
	background: $background-color;	
}

.card {
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    position: relative;
	width: $iframe-width/1.5;
	height: $iframe-height/1.5;
    text-align: center;
}

.card > .front,
.card > .back {
	transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    @include flex();
    flex-direction: column;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card > .front {
	transform: rotateY(0deg) !important;
	color: #FFFFFF;
	
    p {
		background: $background-color;
		font-family: 'Monoton', cursive!important;
		@include rectangle($iframe-width/1.5, $iframe-height/1.5);
		font-size: 18px;
		margin-top: 25px;
		margin-bottom: 0px;
		@include flex();
    }
}

.card > .back {
    transform: rotateY(180deg) !important;
    color: #FFFFFF;
	padding: 0 50px;
	opacity: 0;
}


.legs {
	width: 350px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.leg-bottom {
	width: 100%;
	background: $leg-color;
    border-right: 10px solid $leg-color;
    border-right-style: groove;
	height: 30px;
}
.leg {
	@include square(50px);
	background: $leg-color;
    border-bottom: 10px solid $leg-color;
    border-right: 10px solid $leg-color;
    border-bottom-style: groove;
    border-right-style: groove;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;
}
.area	{
	margin: 0 auto;
    @include square(300px);
    background: black;
    .content {
		height: 1750px;
		iframe {
			position: absolute;
			bottom: 5px;
			@include rectangle($iframe-width/2, $iframe-height/2);
		}
    }
}

.scrollarea .scrollbar-container {
    opacity: 1!important;
    background: white!important;
}

.jukebox-text {
	margin-top: 20px;
}
  
@keyframes side-gradient {
	0%   {background-image: linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet)}
	16%  {background-image: linear-gradient(to bottom, orange,yellow,green,blue,indigo,violet,red)}
	33%  {background-image: linear-gradient(to bottom, yellow,green,blue,indigo,violet,red,orange)}
	50% {background-image: linear-gradient(to bottom, green,blue,indigo,violet,red,orange,yellow)}
	66% {background-image: linear-gradient(to bottom, blue,indigo,violet,red,orange,yellow,green)}
	83% {background-image: linear-gradient(to bottom, indigo,violet,red,orange,yellow,green,blue)}
	100% {background-image: linear-gradient(to bottom, violet,red,orange,yellow,green,blue,indigo)}
}

@keyframes wait-for-back {
	0% {opacity: 0}
	100% {opacity: 1}
}
