@import url('https://fonts.googleapis.com/css?family=Monoton');

$border-color: 30px solid yellow;
$iframe-width: 355px;
$iframe-height: 200px;

.jukebox {
	@include center();
	margin-top: $margin-top + 10;
}

.jukebox-title {
	width: 350px;
	h1 {
		background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
		animation-name: gradient;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		border-top-left-radius: 100%;
		border-top-right-radius: 100%;
		@include flex();
		height: 200px;
		margin-bottom: -10px;
		border: 45px solid yellow;
		border-style: groove;
		font-family: 'Monoton', cursive!important;

	}
}
.legs {
	width: 350px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.leg {
	width: 70px;
	height: 70px;
	background: yellow;
	margin-top: -20px;
	border: $border-color;
	border-style: groove;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;		
}
.area	{
	margin: 0 auto;
    height: 500px;
    width: 350px;
    background: black;
	border-bottom: $border-color;
	border-left: $border-color;
	border-right: $border-color;
	border-style: groove;    
    margin-bottom: 20px;
    .content {
		height: 1100px;
		iframe {
			margin-top: 10px;
			width: $iframe-width/1.5;
			height: $iframe-height/1.5;
		}
    }
}

.scrollarea .scrollbar-container {
    opacity: 1!important;
    background: white!important;
}

@keyframes gradient {
  0%   {background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet)}
  16%  {background-image: linear-gradient(to right, orange,yellow,green,blue,indigo,violet,red)}
  33%  {background-image: linear-gradient(to right, yellow,green,blue,indigo,violet,red,orange)}
  50% {background-image: linear-gradient(to right, green,blue,indigo,violet,red,orange,yellow)}
  66% {background-image: linear-gradient(to right, blue,indigo,violet,red,orange,yellow,green)}
  83% {background-image: linear-gradient(to right, indigo,violet,red,orange,yellow,green,blue)}
  100% {background-image: linear-gradient(to right, violet,red,orange,yellow,green,blue,indigo)}
}

@media (min-width: 769px) {

.legs {
	width: 500px;
}
.leg {
	width: 100px;
	height: 100px;	
}

.jukebox-title {
	width: 500px;
}

.area {
    width: 500px;
	.content {
		height: 1600px;
		iframe {
			margin-top: 10px;
			width: $iframe-width;
			height: $iframe-height;
		}
	}

}
}





