$jerusalemRightValues: 95, 110, 143, 113, 231, 199, 379, 379, 408, 448, 419;
$jerusalemTopValues: 90, 105, 98, 243, 36, 56, 407, 100, 132, 107, 107;
$jerusalemIds: 0,1,2,3,4,5,6,7,8,9,10;

$masadaRightValues: 406, 314, 67, 410, 337, 301, 34, 273;
$masadaTopValues: 162, 159, 173, 106, 56, 207, 199, 187;
$masadaIds: 0, 1, 2, 3, 4, 5, 6, 7;

@for $i from 1 through length($jerusalemRightValues) {
  $rightValue: nth($jerusalemRightValues, $i);
  $topValue: nth($jerusalemTopValues, $i);
  $id: nth($jerusalemIds, $i);
    .jerusalem-item-#{$id} {
       right: #{$rightValue / 1.5}px;
       top: #{$topValue / 1.5}px;
    }
}


.map-button {
	background: yellow;
	border-radius: 100%;
	width: (18px/1.5);
	height: (18px/1.5);
	position: absolute;
	font-size: (14px/1.5);
	&:hover {
		background: gold;
	}
}


.map {
	position: relative;
	background-size: cover;
	@include center(); 
}

.jerusalem-map {
	margin-top: $margin-top;
	.map {
		width: (500px/1.5);
		height: (450px/1.5);
		background-image: url('../jerusalem-map.png');
	}
}

@media (min-width: 512px) {
	@for $i from 1 through length($jerusalemRightValues) {
	  $rightValue: nth($jerusalemRightValues, $i);
	  $topValue: nth($jerusalemTopValues, $i);
	  $id: nth($jerusalemIds, $i);
		.jerusalem-item-#{$id} {
		   right: #{$rightValue/1.25}px;
		   top: #{$topValue/1.25}px;
		}
	}
	.map-button {
		width: (18px/1.25);
		height: (18px/1.25);
		font-size: (14px/1.25);
	}
	.jerusalem-map {
		.map {
			width: (500px/1.25);
			height: (450px/1.25);
		}
	}		
}


@media (min-width: 768px) {
	@for $i from 1 through length($jerusalemRightValues) {
	  $rightValue: nth($jerusalemRightValues, $i);
	  $topValue: nth($jerusalemTopValues, $i);
	  $id: nth($jerusalemIds, $i);
		.jerusalem-item-#{$id} {
		   right: #{$rightValue}px;
		   top: #{$topValue}px;
		}
	}
	.map-button {
		width: 18px;
		height: 18px;
		font-size: 14px;
	}
	.jerusalem-map {
		.map {
			width: 500px;
			height: 450px;
		}
	}		
}




.masada-map {
	margin-top: $margin-top;
	.map {
		width: (800px/1.5);
		height: (400px/1.5);
		background-image: url('https://s3-us-west-2.amazonaws.com/birthright-israel.bodiewebdesign.com/images/main/masada-map.jpg');
	}
}

@for $i from 1 through length($masadaRightValues) {
  $rightValue: nth($masadaRightValues, $i);
  $topValue: nth($masadaTopValues, $i);
  $id: nth($masadaIds, $i);
    .masada-item-#{$id} {
       right: #{$rightValue}px;
       top: #{$topValue}px;
    }
}
