.noMatch {
	color: white;
	img {
		@include rectangle(100px, 133px);
	}
	p {
		line-height: 1.2;
		font-size: 14px;
		text-align: left;
	}
	a {
		color: white;
		font-weight: bold;
		&:hover {
			color: #DEDEDE;
		}
	}
}

@media (min-width: 768px) {
	.noMatch {
		img {
			@include rectangle(150px, 200px);
		}
	}
}
