@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.post {
	margin-top: $margin-top + 15;
	color: white;
	h1 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.2em;
	}
	li {
		text-align: left;
	}
}

.article {
	@include center();
	width: 80%;
	a {
		color: white;
		font-weight: bold;
		&:hover {
			color: #808080;
		}
	}
}

.slick-list, .slick-slider, .slick-track {
	width: 375px;
	@include center();
}

.slick-arrow {
	z-index: 1000;
}

.slick-slide img {
    @include center();
	height: 225px;
}

.slick-prev {
	left: 0!important;
}

.slick-next {
	right: 0!important;
}


.slick-prev:before, .slick-next:before {
	font-size: 20px!important;
	opacity: 1!important;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 550px) {
	.slick-list, .slick-slider, .slick-track {
		width: 625px;
	}

	.slick-slide img {
		height: 300px;
	}
	
	.slick-prev:before, .slick-next:before {
		font-size: 40px!important;
	}
	
	.post {
		margin-top: $margin-top;
	}
}
@media (min-width: 769px) {
	.slick-list, .slick-slider, .slick-track  {
		width: 675px;
	}
	.slick-slide {
		img {
			height: 400px;
		}
	}
	.post {
		h3 {
			font-size: 1.5em;
		}
	}			
}

/* Feature Article CSS
------------------------*/

.article-shuk-night {
	img {
		float: right;
		width: 200px;
		height: 200px;
	}
}
.article-tama {
	img {
		width: calc(250px * 0.5);
		height: calc(445px * 0.5);
	}

	p:nth-child(3n + 9) {
		border-bottom: 1px solid white;
		@include center();
		margin-bottom: 10px;
	}
}

.article-rothschild {
		img {
			width: calc(250px * 0.5);
			height: calc(445px * 0.5);
		}

		p:nth-child(3n + 6) {
			border-bottom: 1px solid white;
			@include center();
			margin-bottom: 10px;
		}
	}	

.article-epilogue {
	img {
		width: 300px;
		height: 225px;
	}
}

@media (min-width: 550px) {
.article-epilogue {
	img {
		width: 400px;
		height: 300px;
	}
}

	.article-tama {
		img {
			width: calc(250px * 0.7);
			height: calc(445px * 0.7);
		}

		p:nth-child(3n + 9) {
			border-bottom: 1px solid white;
			width: 80%;
			@include center();
			margin-bottom: 10px;
		}
	}
	.article-rothschild {
		img {
			width: calc(250px * 0.7);
			height: calc(445px * 0.7);
		}

		p:nth-child(3n + 6) {
			border-bottom: 1px solid white;
			width: 80%;
			@include center();
			margin-bottom: 10px;
		}
	}	
}

@media (min-width: 769px) {
.article-shuk-night {
	img {
		width: 350px;
		height: 350px;
	}
}
}
