.pageTitle {
	margin-top: $margin-top;
}

table thead {
	visibility: hidden;
}

.answer {
	opacity: 0;
	transition: opacity .8s;
	background: $background-color;
	color: #fff;
	@include absolute();
	padding-left: 20px;
	padding-right: 20px;
	@include flex();
	flex-direction: column;
	&:hover {
		opacity: 1;
	}
}


.card .answer {
	transition: transform .6s ease-out;
	transform: translateX(100%);
}

.card:hover .answer {
	transform: translateX(0);
}

.question {
	text-shadow: none;
	tbody {
		border: none!important;
	}
	tr {
		background: white!important;
	}
	h2 {
		font-size: 1.0em;
		margin: 0px 5px;
		margin-top: 20px;
	}
}


.card {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	width: 300px;
	height: 200px;
}

td {
	padding: 20px!important;
	font-size: 10px;
}

.quiz {
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}


.card .answer {
	opacity: 1;

}

@media (min-width: 769px) {
	.question h2 {
		font-size: 1.5em;
	}
	td {
		font-size: 16px;
	}	
	.card {
		width: 450px;
		height: 300px;
	}		
}
