$card-width: 450px;
$card-height: 300px;

.quiz-cards {
	@include flex();
	flex-wrap: wrap;
}

.quiz-card {
	margin: 10px;
}
.pageTitle {
	margin-top: $margin-top;
}

table thead {
	visibility: hidden;
}

.answer {
	opacity: 0;
	transition: opacity .8s;
	background: $background-color;
	color: #fff;
	@include absolute();
	padding-left: 20px;
	padding-right: 20px;
	@include flex();
	flex-direction: column;
	&:hover {
		opacity: 1;
	}
}

.quiz-card, .question, .answer {
	width: 300px;
	height: 200px;
}

.quiz-card {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	.question {
		text-shadow: none;
		background: white;
		tbody {
			border: none!important;
		}
		tr {
			background: white!important;
			line-height: 1.1;
		}
		h2 {
			font-size: 1.0em;
			margin: 0px 5px;
			color: black;
		}
	}	
}

.quiz-card .answer {
	transition: transform .6s ease-out;
	transform: translateX(100%);
}

.quiz-card:hover .answer {
	transform: translateX(0);
}


td {
	font-size: 10px;
	color: black;
}

.quiz-card .answer {
	opacity: 1;
}

@media (min-width: 769px) {
	.quiz-card .question h2 {
		font-size: 1.5em;
	}
	td {
		padding: 20px!important;
		font-size: 16px;
	}	
	.quiz-card, .question, .answer {
		width: $card-width/1.2;
		height: $card-height/1.2;
	}		
}
