section {
	border-bottom: 1px solid white;
}

.o-content__inner {
	margin-top: $margin-top;
}

.o-content__inner-body, .welcomeIntro {
	border-bottom: 1px solid white;
	h3 {
		@include center();
		margin-top: 10px;
		margin-bottom: 10px; 
	}
	img {
		width: 33%;
		margin-bottom: 10px;
	}
	p {
		width: 66%;
		@include center;
		margin-bottom: 10px;
	}
	a {
		color: white;
		font-weight: bold;
	}
}

.c-side-nav {
    background-color: $background-color;
    word-wrap: break-word;
}
.c-side-nav__item {
	list-style: none;
	font-size: 1.4em;
	a {
		color: white;
	}
}

.o-sidebar {
    display: none;
}

ul {
	margin-left: 0;
}


.is-current {
    background: navy;
	> a {
		font-weight: bold;
	}
}

.o-main {
	color: white;
}

@media (min-width: 768px) {

	.c-side-nav__body {
		margin-top: 60px;
	}
	
	.o-sidebar {
		width: 260px;
		overflow-y: scroll;
		display: inherit;
	}
	
	.o-sidebar--fixed-left {
		position: fixed;
		min-height: 100vh;
		left: 0;
		top: 0;
		z-index: 999;
	}
		
	.o-main {
		width: calc(100% - 260px);
		margin-left: 260px;
	}
}
