.shakshuka {
	margin-top: $margin-top + 20px;
	color: white;
}

.fork {
	position: absolute;
    left: 0%;
    top: 40%;
    width: 40%;
    z-index: 999;	
}

.shakshuka-button {
	@include modal-button(5px, $background-color, white);

}
.ReactModal__Overlay, .ReactModal__Overlay--after-open {
	z-index: 99999
}

.tomato {
	width: 350px;
	height: 300px;
	background: url($mainLink + 'tomato.jpg');
	border-radius: 100%;
	position: relative;
	@include flex();
	@include center();
	border: 20px solid black;
}

.egg {
	width: 130px;
	height: 100px;
	background: yellow;
	border-radius: 100%;
	border: 20px solid white;
	border-left-width: 35px;
	border-right-width: 35px;
	position: absolute;
	&:hover {
		background: gold;
	}
}

.thumbnail {
	width: 400px;
	height: 300px;
}

.eggOne {
	left: 30%;
}

.eggTwo {
	right: 1%;
	top: 20%;
}

.eggThree {
	right: 10%;
	bottom: 7%;
}
.eggFour {
	left: 10%;
	bottom: 7%;
}
.eggFive {
	left: 1%;
	top: 20%;
}

@media (min-width: 769px) {
	.fork {
		left: 20%;
		top: 33%;
		width: 20%;
	}		
}