@import './_import.scss';

.button {
	background-color: $background-color;
}

.todoListIntro {
	color: white;
}

.item {
	@include item();
}

.item-completed {
	@include item();	
	p {
		text-decoration: line-through;
	}	
}

.tooltip {
    position: relative;
    display: inline-block;
    background-color: rgba(0,0,0,0);
    color: black;
	.tooltiptext {
		visibility: hidden;
		width: 250px;
		text-align: center;
		border-radius: 6px;
		padding: 10px 0px;
		position: absolute;
		&::after {
		    content: " ";
			position: absolute;
			top: 50%;
			right: 100%;
			margin-top: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent black transparent transparent;
		}
    }
	&:hover .tooltiptext {
		visibility: visible;
	}
}


span {
	background-color: black;
	color: white;
	margin-left: 10px;
	z-index: 200;
}

.form {
	display: flex;
	border: 1px solid black;
	input {
		height: 42px;
		margin: 0;
	}
}

.delete {
	font-weight: bold;
	color: red;
	margin-left: 10px;
	&:hover {
		color: maroon;
	}
}


@media (min-width: 768px) {
	.todoList {
		width: calc(100% - 390px);
		margin-left: 320px;
	}
}
