.todoList {
	margin: 100px 0px;
	ul {
		margin-top: 20px;
	}
	img {
		display: block;
		margin: 0 auto;
		border: 5px solid white;
	}
}

.button {
	background-color: $background-color;
}

.todoListIntro {
	color: white;
}

.item {
	@include item();
}

.item-completed {
	@include item();	
	p {
		text-decoration: line-through;
	}	
}

.form {
	display: flex;
	border: 1px solid black;
	input {
		height: 42px;
		margin: 0;
	}
}

.delete, .complete {
	font-weight: bold;
	margin: 0;
	font-size: 1em;
}

