.todoList {
	margin-top: $margin-top!important;
	ul {
		margin-top: 20px;
	}
	img {
		display: block;
		margin: 0 auto;
		border: 5px solid white;
	}
}

.button {
	background-color: $background-color;
}

.todoListIntro {
	color: white;
}

.item {
	@include item();
}
.no-item {
	text-align: center;
	display: block;
    font-weight: bold;
    padding: 10px;
    font-size: 1.5em;
}
.item-completed {
	@include item();	
	p {
		text-decoration: line-through;
	}	
}

.form {
	display: flex;
	border: 1px solid black;
	input {
		height: 42px;
		margin: 0;
	}
}

.delete, .complete {
	font-weight: bold;
	margin: 0;
	font-size: 1em;
}

