@import url("https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.2/css/foundation.css");
@import url("https://fonts.googleapis.com/css?family=Heebo");
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }

.top-bar {
  background-color: #0038B8; }
  .top-bar h4 {
    font-family: 'Heebo', sans-serif;
    color: white; }

.todoList {
  margin: 100px 0px; }
  .todoList ul {
    margin-top: 20px; }
  .todoList img {
    display: block;
    margin: 0 auto;
    border: 5px solid white; }

.button {
  background-color: #0038B8; }

.todoListIntro {
  color: white; }

.item {
  list-style: none;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: space-between; }
  .item button {
    align-self: center;
    margin-right: 20px; }
  .item p {
    margin: 0;
    align-self: center; }

.item-completed {
  list-style: none;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: space-between; }
  .item-completed button {
    align-self: center;
    margin-right: 20px; }
  .item-completed p {
    margin: 0;
    align-self: center; }
  .item-completed p {
    text-decoration: line-through; }

.form {
  display: flex;
  border: 1px solid black; }
  .form input {
    height: 42px;
    margin: 0; }

.delete, .complete {
  font-weight: bold;
  margin: 0;
  font-size: 1em; }

section {
  border-bottom: 1px solid white; }

.o-content__inner-body img, .welcomeIntro img {
  width: 50%; }

.c-side-nav {
  background-color: #0038B8;
  word-wrap: break-word; }

.c-side-nav__item {
  list-style: none; }
  .c-side-nav__item a {
    color: white; }

.o-sidebar {
  display: none; }

ul {
  margin-left: 0; }

.is-current {
  background: navy; }
  .is-current > a {
    font-weight: bold; }

.o-main {
  color: white; }

@media (min-width: 768px) {
  .c-side-nav__body {
    margin-top: 60px; }
  .o-sidebar {
    width: 260px;
    overflow-y: scroll;
    display: inherit; }
  .o-sidebar--fixed-left {
    position: fixed;
    min-height: 100vh;
    left: 0;
    top: 0;
    z-index: 999; }
  .o-main {
    width: calc(100% - 260px);
    margin-left: 260px; } }

.post {
  margin-top: 59px;
  color: white; }
  .post h1 {
    font-size: 2em; }

.slick-list, .slick-slider, .slick-track {
  width: 375px;
  display: block;
  margin: 0 auto; }

.slick-arrow {
  z-index: 1000; }

.slick-slide img {
  margin: 0px auto;
  height: 225px; }

.slick-prev {
  left: 0 !important; }

.slick-next {
  right: 0 !important; }

/* =================================
  Media Queries
==================================== */
@media (min-width: 550px) {
  .slick-list, .slick-slider, .slick-track {
    width: 625px; }
  .slick-slide img {
    height: 300px; }
  .slick-prev:before, .slick-next:before {
    font-size: 20px !important;
    opacity: 1 !important; } }

@media (min-width: 769px) {
  .slick-list, .slick-slider, .slick-track {
    width: 675px; }
  .slick-slide img {
    height: 400px; } }

.answer {
  opacity: 0;
  transition: opacity .5s;
  background: #0038B8;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  /* For centering text inside .answer */
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .answer:hover {
    opacity: 1; }

.card .answer {
  transition: transform .6s ease-out;
  transform: translateX(-100%); }

.card:hover .answer {
  transform: translateX(0); }

.question h3 {
  font-size: 0.8em;
  line-height: 1.25em;
  margin-top: .85em;
  margin-bottom: .5em; }

.card {
  position: relative;
  line-height: 0;
  margin-bottom: 2em;
  overflow: hidden;
  width: 300px;
  height: 200px; }

td {
  padding: 20px !important; }

.quiz {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.card .answer {
  opacity: 1; }

@media (min-width: 480px) {
  .card {
    width: 450px;
    height: 300px; } }

@media (min-width: 769px) {
  .card {
    width: 600px;
    height: 400px; } }

body {
  margin: 0;
  padding: 0; }

.App {
  text-align: center;
  background: url("https://s3-us-west-2.amazonaws.com/birthright-israel.bodiewebdesign.com/images/main/background.jpg") no-repeat bottom fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); }
  .App h1 {
    font-family: 'Heebo', sans-serif;
    color: white; }

.landingLink {
  width: 70px;
  height: 40px; }

.button[disabled] {
  opacity: 0.5; }

@media (min-width: 768px) {
  .App {
    background-position: top; } }
