@import './_import.scss';
@import './_header.scss';
@import './_todo.scss';
@import './_scrollspy.scss';
@import './_post.scss';
@import './_quiz.scss';
@import './_game.scss';
@import './_shakshuka.scss';
@import './_map.scss';
@import './_jukebox.scss';
@import './_graffiti.scss';
@import './_cat.scss';
@import './_noMatch.scss';

body {
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
	text-shadow: 2px 2px 4px black;
	background: url('/assets/main/background.jpg') no-repeat bottom fixed;
	background-size: cover;
	min-height: 100vh;
	@include flex();
	flex-direction: column;
	font-size: calc(10px + 1vmin);
	h1 {
		font-family: 'Heebo', sans-serif;
		color: white;
	}
	
}
.cover {
	margin-top: $margin-top;
	@include flex();
	img {
		animation-name: intro;
		animation-duration: 3s;
		width: 400px;
		height: 400px;
	}
}
#author {
	color: white;
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.prev-next {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
}

.landing {
	position: absolute;
	animation-name: appear;
	animation-duration: 3s;
	opacity: 1;
	bottom: 15%;
		
}

.custom-button {
	width: 90px;
	height: 50px;
	border-radius: 10px;
	@include flex();
	margin: 0 auto;
	color: $background-color!important;
	background: white;
	border: 2px solid $background-color;
	text-shadow: none;
	&:hover {
		background: $background-color;
		color: white!important;
	}
}

.custom-main {
	margin-bottom: 30px;
	font-size: 12px;
}
@keyframes intro {
  0%   {transform: scale(0, 0); opacity: 1;}
  100% {transform: scale(1, 1); opacity: 0;}
}
@keyframes appear {
  0%   {opacity: 0}
  100% {opacity: 0}
}


@media (min-width: 768px) {
	.App {
		background-position: top;
	}
}


