@import './_import.scss';
@import './_header.scss';
@import './_todo.scss';
@import './_scrollspy.scss';

body {
	margin: 0;
	padding: 0;
}


.App {
	text-align: center;
	background: url('../images/background.jpg') no-repeat bottom fixed;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	h1 {
		font-family: 'Heebo', sans-serif;
		color: white;
	}
}


.button[disabled] {
	opacity: 0.5;
}

@media (min-width: 768px) {
	.App {
		background-position: top;
	}
}





