@import url("https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.2/css/foundation.css");
@import url("https://fonts.googleapis.com/css?family=Heebo");
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Monoton");
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }
  header img {
    height: 25px;
    margin: 0; }

.top-bar-left {
  display: flex; }
  .top-bar-left a {
    margin-left: 5px;
    color: white;
    font-size: 1em; }

.top-bar {
  background-color: #0038B8; }
  .top-bar h4 {
    font-family: 'Heebo', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 1em; }

@media (min-width: 550px) {
  .top-bar h4 {
    font-size: 1.25em; }
  .top-bar-left a {
    font-size: 1.25em; } }

@media (min-width: 769px) {
  header img {
    height: 33px; }
  .top-bar h4 {
    font-size: 1.8em; }
  .top-bar-left a {
    margin-left: 30px;
    font-size: 1.8em; } }

.todoList {
  margin-top: 64px !important; }
  .todoList ul {
    margin-top: 20px; }
  .todoList img {
    display: block;
    margin: 0 auto;
    border: 5px solid white; }

.button {
  background-color: #0038B8; }

.todoListIntro {
  color: white; }

.item {
  list-style: none;
  text-shadow: none;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: space-between; }
  .item button {
    align-self: center;
    margin-right: 20px; }
  .item p {
    margin: 0;
    align-self: center; }

.item-completed {
  list-style: none;
  text-shadow: none;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: space-between; }
  .item-completed button {
    align-self: center;
    margin-right: 20px; }
  .item-completed p {
    margin: 0;
    align-self: center; }
  .item-completed p {
    text-decoration: line-through; }

.form {
  display: flex;
  border: 1px solid black; }
  .form input {
    height: 42px;
    margin: 0; }

.delete, .complete {
  font-weight: bold;
  margin: 0;
  font-size: 1em; }

.o-sidebar {
  display: flex; }
  .o-sidebar .logo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px; }
  .o-sidebar .c-side-nav__body {
    display: none; }

section {
  border-bottom: 1px solid white; }

.o-content__inner-body, .welcomeIntro {
  border-bottom: 1px solid white; }
  .o-content__inner-body h3, .welcomeIntro h3 {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px; }
  .o-content__inner-body img, .welcomeIntro img {
    width: 40%;
    margin-bottom: 10px; }
  .o-content__inner-body p, .welcomeIntro p {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; }
  .o-content__inner-body a, .welcomeIntro a {
    color: white;
    font-weight: bold; }

.c-side-nav {
  background-color: #0038B8;
  word-wrap: break-word; }

.c-side-nav__item {
  list-style: none;
  font-size: 1.2em; }
  .c-side-nav__item a {
    color: white; }

ul {
  margin-left: 0; }

.is-current {
  background: navy; }
  .is-current > a {
    font-weight: bold; }

.o-main {
  color: white; }

.Collapsible {
  background-color: #0038B8; }

.Collapsible__contentInner {
  padding: 10px;
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: black;
  position: relative;
  color: white; }
  .Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: -30px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg); }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; }

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease; }

.CustomTriggerCSS--open {
  background-color: darkslateblue; }

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black; }

@media (min-width: 768px) {
  .o-sidebar {
    width: 260px;
    overflow-y: scroll;
    display: inherit; }
    .o-sidebar h3 {
      color: white; }
    .o-sidebar .logo {
      width: 125px;
      height: 125px; }
    .o-sidebar .c-side-nav__body {
      display: inherit; }
  .o-sidebar--fixed-left {
    position: fixed;
    min-height: 100vh;
    left: 0;
    top: 0;
    z-index: 999; }
  .o-main {
    width: calc(100% - 260px);
    margin-left: 260px; }
  .o-content__inner-body img, .welcomeIntro img {
    width: 33%; }
  .o-content__inner-body p, .welcomeIntro p {
    width: 66%; } }

.post {
  margin-top: 79px;
  color: white; }
  .post h1 {
    font-size: 2em; }
  .post h3 {
    font-size: 1.2em; }
  .post li {
    text-align: left; }

.article {
  display: block;
  margin: 0 auto;
  width: 80%; }
  .article a {
    color: white;
    font-weight: bold; }
    .article a:hover {
      color: #808080; }

.slick-list, .slick-slider, .slick-track {
  width: 375px;
  display: block;
  margin: 0 auto; }

.slick-arrow {
  z-index: 1000; }

.slick-slide img {
  display: block;
  margin: 0 auto;
  height: 225px; }

.slick-prev {
  left: 0 !important; }

.slick-next {
  right: 0 !important; }

.slick-prev:before, .slick-next:before {
  font-size: 20px !important;
  opacity: 1 !important; }

/* =================================
  Media Queries
==================================== */
@media (min-width: 550px) {
  .slick-list, .slick-slider, .slick-track {
    width: 625px; }
  .slick-slide img {
    height: 300px; }
  .slick-prev:before, .slick-next:before {
    font-size: 40px !important; }
  .post {
    margin-top: 64px; } }

@media (min-width: 769px) {
  .slick-list, .slick-slider, .slick-track {
    width: 675px; }
  .slick-slide img {
    height: 400px; }
  .post h3 {
    font-size: 1.5em; } }

/* Feature Article CSS
------------------------*/
.article-shuk-night img {
  float: right;
  width: 200px;
  height: 200px; }

.article-tama img {
  width: calc(250px * 0.5);
  height: calc(445px * 0.5); }

.article-tama p:nth-child(3n + 9) {
  border-bottom: 1px solid white;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px; }

.article-rothschild img {
  width: calc(250px * 0.5);
  height: calc(445px * 0.5); }

.article-rothschild p:nth-child(3n + 6) {
  border-bottom: 1px solid white;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px; }

.article-epilogue img {
  width: 300px;
  height: 225px; }

@media (min-width: 550px) {
  .article-epilogue img {
    width: 400px;
    height: 300px; }
  .article-tama img {
    width: calc(250px * 0.7);
    height: calc(445px * 0.7); }
  .article-tama p:nth-child(3n + 9) {
    border-bottom: 1px solid white;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; }
  .article-rothschild img {
    width: calc(250px * 0.7);
    height: calc(445px * 0.7); }
  .article-rothschild p:nth-child(3n + 6) {
    border-bottom: 1px solid white;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; } }

@media (min-width: 769px) {
  .article-shuk-night img {
    width: 350px;
    height: 350px; } }

.quiz-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.quiz-card {
  margin: 10px; }

.pageTitle {
  margin-top: 64px; }

table thead {
  visibility: hidden; }

.answer {
  opacity: 0;
  transition: opacity .8s;
  background: #0038B8;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .answer:hover {
    opacity: 1; }

.quiz-card, .question, .answer {
  width: 300px;
  height: 200px; }

.quiz-card {
  position: relative;
  line-height: 0;
  margin-bottom: 2em;
  overflow: hidden; }
  .quiz-card .question {
    text-shadow: none;
    background: white; }
    .quiz-card .question tbody {
      border: none !important; }
    .quiz-card .question tr {
      background: white !important;
      line-height: 1.1; }
    .quiz-card .question h2 {
      font-size: 1.0em;
      margin: 0px 5px;
      color: black; }

.quiz-card .answer {
  transition: transform .6s ease-out;
  transform: translateX(100%); }

.quiz-card:hover .answer {
  transform: translateX(0); }

td {
  font-size: 10px;
  color: black; }

.quiz-card .answer {
  opacity: 1; }

@media (min-width: 769px) {
  .quiz-card .question h2 {
    font-size: 1.5em; }
  td {
    padding: 20px !important;
    font-size: 16px; }
  .quiz-card, .question, .answer {
    width: 375px;
    height: 250px; } }

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #525252;
  padding: 5px; }
  .buttons button {
    font-family: "Press Start 2P", cursive !important;
    text-align: center;
    font-size: 8px;
    padding: 5px;
    margin: 5px;
    width: 45px;
    height: 45px;
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    box-shadow: 0 10px #990000; }
    .buttons button:hover {
      background-color: #660000; }
    .buttons button:active {
      background-color: #660000;
      box-shadow: 0 5px #330000;
      transform: translateY(4px); }
  .buttons img {
    width: 30px;
    height: 30px; }

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .flex h3 {
    font-family: "Press Start 2P", cursive !important;
    color: yellow;
    font-size: 1.15em; }

.game {
  display: block;
  margin: 0 auto;
  margin-top: 74px; }
  .game .columns {
    background: black;
    border: 15px groove #FCD526; }
  .game h1 {
    background: #0038B8;
    font-family: "Press Start 2P", cursive !important;
    font-size: 1.6em;
    padding: 5px; }

.result {
  height: 200px; }
  .result h4 {
    color: yellow;
    font-family: "Press Start 2P", cursive !important;
    text-align: center;
    font-size: 1em; }
  .result img {
    width: 60px;
    height: 60px;
    position: absolute;
    opacity: 1;
    left: 25%;
    right: 25%; }

.reset {
  color: white; }

.begin {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .begin h2 {
    font-family: "Press Start 2P", cursive !important;
    color: yellow;
    text-align: center;
    width: 50%;
    animation: begin 1s infinite alternate;
    font-size: 1.5em; }

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .score div {
    display: block;
    margin: 0 auto; }
  .score h3 {
    color: yellow;
    font-family: "Press Start 2P", cursive !important;
    text-align: center; }

.playerResult {
  width: 150px;
  height: 100px;
  position: relative; }
  .playerResult:first-child img {
    transform: rotateY(180deg); }

.player-draw {
  animation: playerDraw 1.5s; }

.computer-draw {
  animation: computerDraw 1.5s; }

.player-pick {
  animation: playerPick 1s; }

.computer-pick {
  animation: computerPick 1s; }

.loss {
  animation-name: playerLoss;
  animation-delay: 0.5s;
  animation-duration: 1.25s;
  animation-fill-mode: forwards; }

/* Keyframes
-------------------*/
@keyframes begin {
  0% {
    color: yellow; }
  100% {
    color: white; } }

@keyframes playerPick {
  0% {
    margin-left: 0;
    z-index: 1; }
  100% {
    margin-left: 175px;
    z-index: 100; } }

@keyframes playerLoss {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes playerDraw {
  0% {
    margin-left: 0; }
  50% {
    margin-left: 75px; }
  100% {
    margin-left: 0; } }

@keyframes computerDraw {
  0% {
    margin-left: 0; }
  50% {
    margin-left: -75px; }
  100% {
    margin-left: 0; } }

@keyframes computerPick {
  0% {
    margin-left: 0;
    z-index: 1; }
  100% {
    margin-left: -175px;
    z-index: 100; } }

@media (min-width: 769px) {
  .playerResult {
    width: 200px;
    height: 160px; }
  .begin {
    height: 250px; }
  .result {
    height: 250px; }
    .result img {
      width: 80px;
      height: 80px; }
  .game {
    width: 100%; }
    .game .columns {
      border: 20px groove #FCD526; }
  .buttons {
    padding: 10px; }
    .buttons button {
      width: 75px;
      height: 75px;
      font-family: "Press Start 2P", cursive !important;
      font-size: 12px; }
    .buttons img {
      width: 50px;
      height: 50px; }
  @keyframes playerDraw {
    50% {
      margin-left: 125px; } }
  @keyframes computerDraw {
    50% {
      margin-left: -125px; } }
  @keyframes playerPick {
    100% {
      margin-left: 250px; } }
  @keyframes computerPick {
    100% {
      margin-left: -250px; } } }

.shakshuka {
  margin-top: 84px;
  color: white; }
  .shakshuka h1 {
    font-size: 2em; }

.fork {
  position: absolute;
  left: 0%;
  top: 40%;
  width: 40%;
  z-index: 999; }

.shakshuka-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #0038B8;
  color: white;
  padding: 5px;
  font-weight: bold; }

.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  z-index: 99999; }
  .ReactModal__Overlay h2, .ReactModal__Overlay--after-open h2 {
    font-size: 1em; }

.tomato {
  width: 350px;
  height: 300px;
  background: url("https://s3-us-west-2.amazonaws.com/birthright-israel.bodiewebdesign.com/images/main/tomato.jpg");
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  border: 20px solid black; }

.egg {
  width: 130px;
  height: 100px;
  background: yellow;
  border-radius: 100%;
  border: 20px solid white;
  border-left-width: 35px;
  border-right-width: 35px;
  position: absolute; }
  .egg:hover {
    background: gold; }

.thumbnail {
  width: 300px;
  height: 225px; }

.eggOne {
  left: 30%; }

.eggTwo {
  right: 1%;
  top: 20%; }

.eggThree {
  right: 10%;
  bottom: 7%; }

.eggFour {
  left: 10%;
  bottom: 7%; }

.eggFive {
  left: 1%;
  top: 20%; }

@media (min-width: 769px) {
  .thumbnail {
    width: 400px;
    height: 300px; }
  .ReactModal__Overlay, .ReactModal__Overlay--after-open {
    z-index: 99999; }
    .ReactModal__Overlay h2, .ReactModal__Overlay--after-open h2 {
      font-size: 1.5em; }
  .fork {
    left: 20%;
    top: 33%;
    width: 20%; } }

.jerusalem-item-0 {
  right: 63.33333px;
  top: 60px; }

.jerusalem-item-1 {
  right: 73.33333px;
  top: 70px; }

.jerusalem-item-2 {
  right: 95.33333px;
  top: 65.33333px; }

.jerusalem-item-3 {
  right: 75.33333px;
  top: 162px; }

.jerusalem-item-4 {
  right: 154px;
  top: 24px; }

.jerusalem-item-5 {
  right: 132.66667px;
  top: 37.33333px; }

.jerusalem-item-6 {
  right: 252.66667px;
  top: 271.33333px; }

.jerusalem-item-7 {
  right: 252.66667px;
  top: 66.66667px; }

.jerusalem-item-8 {
  right: 272px;
  top: 88px; }

.jerusalem-item-9 {
  right: 298.66667px;
  top: 71.33333px; }

.jerusalem-item-10 {
  right: 279.33333px;
  top: 71.33333px; }

.masada-item-0 {
  right: 270.66667px;
  top: 108px; }

.masada-item-1 {
  right: 209.33333px;
  top: 106px; }

.masada-item-2 {
  right: 44.66667px;
  top: 115.33333px; }

.masada-item-3 {
  right: 273.33333px;
  top: 70.66667px; }

.masada-item-4 {
  right: 224.66667px;
  top: 37.33333px; }

.masada-item-5 {
  right: 200.66667px;
  top: 138px; }

.masada-item-6 {
  right: 22.66667px;
  top: 132.66667px; }

.masada-item-7 {
  right: 182px;
  top: 124.66667px; }

.telaviv-item-0 {
  right: 300px;
  top: 228px; }

.telaviv-item-1 {
  right: 156px;
  top: 144px; }

.telaviv-item-2 {
  right: 36px;
  top: 4px; }

.telaviv-item-3 {
  right: 160px;
  top: 132px; }

.telaviv-item-4 {
  right: 208px;
  top: 44.8px; }

.telaviv-item-5 {
  right: 178.4px;
  top: 101.6px; }

.telaviv-item-6 {
  right: 147.2px;
  top: 207.2px; }

.map-button {
  background: yellow;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  position: absolute;
  font-size: 9.33333px; }
  .map-button:hover {
    background: gold; }

.map {
  position: relative;
  background-size: cover;
  display: block;
  margin: 0 auto; }

.masada-map {
  margin-top: 64px; }
  .masada-map .map {
    width: 355.55556px;
    height: 177.77778px;
    background-image: url("https://s3-us-west-2.amazonaws.com/birthright-israel.bodiewebdesign.com/images/main/masada-map.jpg"); }

.jerusalem-map {
  margin-top: 64px; }
  .jerusalem-map .map {
    width: 333.33333px;
    height: 300px;
    background-image: url("https://s3-us-west-2.amazonaws.com/birthright-israel.bodiewebdesign.com/images/main/jerusalem-map.png"); }

.telaviv-map {
  margin-top: 64px; }
  .telaviv-map .map {
    width: 360px;
    height: 260.8px;
    background-image: url("https://s3-us-west-2.amazonaws.com/birthright-israel.bodiewebdesign.com/images/main/tel-aviv-map.png"); }

@media (min-width: 512px) {
  .jerusalem-item-0 {
    right: 76px;
    top: 72px; }
  .jerusalem-item-1 {
    right: 88px;
    top: 84px; }
  .jerusalem-item-2 {
    right: 114.4px;
    top: 78.4px; }
  .jerusalem-item-3 {
    right: 90.4px;
    top: 194.4px; }
  .jerusalem-item-4 {
    right: 184.8px;
    top: 28.8px; }
  .jerusalem-item-5 {
    right: 159.2px;
    top: 44.8px; }
  .jerusalem-item-6 {
    right: 303.2px;
    top: 325.6px; }
  .jerusalem-item-7 {
    right: 303.2px;
    top: 80px; }
  .jerusalem-item-8 {
    right: 326.4px;
    top: 105.6px; }
  .jerusalem-item-9 {
    right: 358.4px;
    top: 85.6px; }
  .jerusalem-item-10 {
    right: 335.2px;
    top: 85.6px; }
  .map-button {
    width: 14.4px;
    height: 14.4px;
    font-size: 11.2px; }
  .jerusalem-map .map {
    width: 400px;
    height: 360px; } }

@media (min-width: 768px) {
  .jerusalem-item-0 {
    right: 95px;
    top: 90px; }
  .jerusalem-item-1 {
    right: 110px;
    top: 105px; }
  .jerusalem-item-2 {
    right: 143px;
    top: 98px; }
  .jerusalem-item-3 {
    right: 113px;
    top: 243px; }
  .jerusalem-item-4 {
    right: 231px;
    top: 36px; }
  .jerusalem-item-5 {
    right: 199px;
    top: 56px; }
  .jerusalem-item-6 {
    right: 379px;
    top: 407px; }
  .jerusalem-item-7 {
    right: 379px;
    top: 100px; }
  .jerusalem-item-8 {
    right: 408px;
    top: 132px; }
  .jerusalem-item-9 {
    right: 448px;
    top: 107px; }
  .jerusalem-item-10 {
    right: 419px;
    top: 107px; }
  .masada-item-0 {
    right: 338.33333px;
    top: 135px; }
  .masada-item-1 {
    right: 261.66667px;
    top: 132.5px; }
  .masada-item-2 {
    right: 55.83333px;
    top: 144.16667px; }
  .masada-item-3 {
    right: 341.66667px;
    top: 88.33333px; }
  .masada-item-4 {
    right: 280.83333px;
    top: 46.66667px; }
  .masada-item-5 {
    right: 250.83333px;
    top: 172.5px; }
  .masada-item-6 {
    right: 28.33333px;
    top: 165.83333px; }
  .masada-item-7 {
    right: 227.5px;
    top: 155.83333px; }
  .telaviv-item-0 {
    right: 375px;
    top: 285px; }
  .telaviv-item-1 {
    right: 195px;
    top: 180px; }
  .telaviv-item-2 {
    right: 45px;
    top: 5px; }
  .telaviv-item-3 {
    right: 200px;
    top: 165px; }
  .telaviv-item-4 {
    right: 260px;
    top: 56px; }
  .telaviv-item-5 {
    right: 223px;
    top: 127px; }
  .telaviv-item-6 {
    right: 184px;
    top: 259px; }
  .telaviv-map {
    margin-top: 64px; }
    .telaviv-map .map {
      width: 450px;
      height: 326px; }
  .map-button {
    width: 18px;
    height: 18px;
    font-size: 14px; }
  .jerusalem-map .map {
    width: 500px;
    height: 450px; }
  .masada-map .map {
    width: 457.14286px;
    height: 228.57143px; } }

.jukebox {
  display: block;
  margin: 0 auto;
  margin-top: 84px;
  width: 350px;
  height: 460px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  background: yellow;
  background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
  animation-name: side-gradient;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

.jukebox-title {
  display: flex;
  align-items: center;
  justify-content: center; }
  .jukebox-title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    margin-top: 20px;
    font-size: 2em;
    font-family: "Monoton", cursive !important;
    background: #a06126;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom: 40px solid #c4c400;
    border-style: groove;
    margin-bottom: -10px; }

.jukebox-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px; }

.jukebox-button {
  padding: 4px;
  background: #a06126;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999; }

.flipper {
  perspective: 1200px;
  transform: translate3d(0, 0, 0);
  overflow: visible;
  margin-bottom: 10px; }

.flipper.flipped .card {
  transform: rotateY(-180deg); }

.flipper.flipped .card > .back {
  backface-visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-name: wait-for-back;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

.card {
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  position: relative;
  width: 236.66667px;
  height: 133.33333px;
  text-align: center; }

.card > .front,
.card > .back {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.card > .front {
  transform: rotateY(0deg) !important;
  color: #FFFFFF; }
  .card > .front p {
    background: #0038B8;
    font-family: "Monoton", cursive !important;
    width: 236.66667px;
    height: 133.33333px;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center; }

.card > .back {
  transform: rotateY(180deg) !important;
  color: #FFFFFF;
  padding: 0 50px;
  opacity: 0; }

.legs {
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px; }

.leg-bottom {
  width: 100%;
  background: #323232;
  border-right: 10px solid #323232;
  border-right-style: groove;
  height: 30px; }

.leg {
  width: 50px;
  height: 50px;
  background: #323232;
  border-bottom: 10px solid #323232;
  border-right: 10px solid #323232;
  border-bottom-style: groove;
  border-right-style: groove;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%; }

.area {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background: black; }
  .area .content {
    height: 1750px; }
    .area .content iframe {
      position: absolute;
      bottom: 5px;
      width: 177.5px;
      height: 100px; }

.scrollarea .scrollbar-container {
  opacity: 1 !important;
  background: white !important; }

.jukebox-text {
  margin-top: 20px; }

@keyframes side-gradient {
  0% {
    background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet); }
  16% {
    background-image: linear-gradient(to bottom, orange, yellow, green, blue, indigo, violet, red); }
  33% {
    background-image: linear-gradient(to bottom, yellow, green, blue, indigo, violet, red, orange); }
  50% {
    background-image: linear-gradient(to bottom, green, blue, indigo, violet, red, orange, yellow); }
  66% {
    background-image: linear-gradient(to bottom, blue, indigo, violet, red, orange, yellow, green); }
  83% {
    background-image: linear-gradient(to bottom, indigo, violet, red, orange, yellow, green, blue); }
  100% {
    background-image: linear-gradient(to bottom, violet, red, orange, yellow, green, blue, indigo); } }

@keyframes wait-for-back {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.graffiti {
  margin-top: 64px;
  color: white; }
  .graffiti h1 {
    text-align: center;
    width: 100%; }

/* Rabin SCSS
-------------------------*/
.rabin {
  position: relative;
  width: calc($rabin-width/1.20);
  height: calc($rabin-height/1.20);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }

.rabin img {
  position: absolute; }

.hoverOver {
  animation-name: disappear;
  animation-duration: 3s;
  animation-fill-mode: forwards; }

@keyframes disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media (min-width: 512px) {
  .rabin {
    width: 400px;
    height: 253px; } }

/* Thanks SCSS
--------------------*/
.thanks {
  display: flex;
  position: relative;
  height: 398px;
  justify-content: center; }

.thanks-cover {
  position: absolute;
  z-index: 1000;
  background: #e98494;
  width: 400px;
  height: 90px; }

.thanks-cover:nth-child(1) {
  top: 0; }

.thanks-cover:nth-child(2) {
  bottom: 0; }

#thanks-image {
  position: absolute;
  z-index: 999;
  right: auto;
  top: 100px; }

/* 27 Club SCSS
-----------------*/
.club {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  height: 134px; }

.club-image {
  position: absolute; }

.club-cover {
  position: absolute;
  background: transparent;
  height: 134px; }
  .club-cover:focus {
    outline: none; }

.cover-one {
  width: 50px;
  left: 0px; }

.cover-two {
  width: 33px;
  left: 50px; }

.cover-three {
  width: 33px;
  left: 82px; }

.cover-four {
  width: 36px;
  left: 114px; }

.cover-five {
  width: 33px;
  left: 150px; }

.cover-six {
  width: 28px;
  left: 183px; }

.cover-seven {
  width: 35px;
  left: 210px; }

.cover-eight {
  width: 55px;
  left: 245px; }

.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  background: transparent !important; }

@media (min-width: 768px) {
  .club {
    width: 600px;
    height: 268px; }
  .club-cover {
    height: 268px; }
  .cover-one {
    width: 100px;
    left: 0px; }
  .cover-two {
    width: 75px;
    left: 100px; }
  .cover-three {
    width: 60px;
    left: 175px; }
  .cover-four {
    width: 66px;
    left: 235px; }
  .cover-five {
    width: 66px;
    left: 300px; }
  .cover-six {
    width: 55px;
    left: 366px; }
  .cover-seven {
    width: 70px;
    left: 420px; }
  .cover-eight {
    width: 111px;
    left: 489px; } }

/* Stories SCSS
------------------*/
.story {
  display: flex;
  flex-wrap: wrap; }
  .story p, .story img {
    display: block;
    margin: 0 auto; }

@media (min-width: 768px) {
  .story {
    flex-wrap: nowrap; }
    .story p, .story img {
      padding: 20px; } }

.cat {
  margin-top: 74px; }
  .cat p {
    color: white; }

.cat-button {
  line-height: 1.4;
  margin-bottom: 20px !important; }

.cat-gifs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.cat-gif {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: 200px;
  height: 200px; }

.cat-post {
  color: white; }
  .cat-post img {
    width: 300px;
    height: 225px; }

.cat-modal {
  width: 75%;
  height: inherit; }

.cat-modal-button {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  color: black;
  padding: 10px;
  font-weight: bold; }

@media (min-width: 768px) {
  .cat-post img {
    width: 400px;
    height: 300px; }
  .cat-modal {
    width: inherit;
    height: 75%; } }

.noMatch {
  color: white; }
  .noMatch img {
    width: 100px;
    height: 133px; }
  .noMatch p {
    line-height: 1.2;
    font-size: 14px;
    text-align: left; }
  .noMatch a {
    color: white;
    font-weight: bold; }
    .noMatch a:hover {
      color: #DEDEDE; }

@media (min-width: 768px) {
  .noMatch img {
    width: 150px;
    height: 200px; } }

body {
  margin: 0;
  padding: 0; }

.App {
  text-align: center;
  text-shadow: 2px 2px 4px black;
  background: url("https://s3-us-west-2.amazonaws.com/birthright-israel.bodiewebdesign.com/images/main/background.jpg") no-repeat bottom fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 1vmin); }
  .App h1 {
    font-family: 'Heebo', sans-serif;
    color: white; }

.cover {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .cover img {
    animation-name: intro;
    animation-duration: 3s;
    width: 400px;
    height: 400px; }

.prev-next {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  margin-top: 10px; }

.landing {
  position: absolute;
  animation-name: appear;
  animation-duration: 3s;
  opacity: 1;
  bottom: 15%; }

.custom-button {
  width: 90px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #0038B8 !important;
  background: white;
  border: 2px solid #0038B8;
  text-shadow: none; }
  .custom-button:hover {
    background: #0038B8;
    color: white !important; }

.custom-main {
  margin-bottom: 30px;
  font-size: 12px; }

@keyframes intro {
  0% {
    transform: scale(0, 0);
    opacity: 1; }
  100% {
    transform: scale(1, 1);
    opacity: 0; } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@media (min-width: 768px) {
  .App {
    background-position: top; } }
